ion-menu {
  --width: 280px;
}

.sidebar-content {
  --background: var(--ion-background-color);

  &::part(scroll) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.spacer {
  flex: 1;
}

.bottom-menu {
  padding: 8px 0;
  background: var(--ion-background-color);
  margin-top: auto;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  cursor: pointer;

  &.selected {
    --background: var(--ion-color-primary-tint);
    --color: var(--ion-color-primary);

    ion-icon {
      color: var(--ion-color-primary);
    }
  }

  &:hover:not(.selected) {
    --background: rgba(var(--ion-text-color-rgb), 0.08);
  }
}

ion-icon {
  font-size: 1.25rem;
  margin-right: 12px;
}

ion-label {
  font-weight: 500;
}
