ion-item {
  --padding-start: 16px;
  --padding-end: 16px;

  ion-icon {
    font-size: 1.25rem;
    margin-right: 12px;
    color: var(--ion-color-primary);
  }

  ion-label {
    font-weight: 600;
  }
}

app-appearance,
app-text-size {
  display: block;
  padding: 8px 16px;
  margin-bottom: 16px;
}
