<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-icon name="color-palette-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Appearance</ion-label>
    </ion-item>
    <app-appearance></app-appearance>

    <ion-item>
      <ion-icon name="text-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Text Size</ion-label>
    </ion-item>
    <app-text-size></app-text-size>
  </ion-list>
</ion-content>
