ion-card {
  margin: 0;
  box-shadow: none;
  border: 1px solid var(--ion-color-light-shade);
  border-radius: 8px;
}

ion-card-content {
  padding: 8px;
}

ion-item {
  --padding-start: 8px;
  --padding-end: 8px;
  --min-height: 40px;

  ion-label {
    font-size: 0.9rem;
  }
}
